@font-face {
    font-family: 'Yekan Bakh';
    src: url('./fonts/YekanBakhLight.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('./fonts/YekanBakhRegular.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('./fonts/YekanBakhMedium.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('./fonts/YekanBakhBold.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('./fonts/YekanBakhHeavy.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 100;
    src: local('Product Sans Thin'), local('ProductSans-Thin'), url(https://fonts.gstatic.com/s/productsans/v9/aXL-Qz25m_FkY0KDMUoO01dBB84BqlWy1BjOnCrU9PY.woff2) format('woff2');
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Product Sans Light'), local('ProductSans-Light'), url(https://fonts.gstatic.com/s/productsans/v9/N0c8y_dasvG2CzM7uYqPLk4GofcKVZz6wtzX_QUIqsI.woff2) format('woff2');
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Product Sans'), local('ProductSans-Regular'), url(https://fonts.gstatic.com/s/productsans/v9/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Product Sans Medium'), local('ProductSans-Medium'), url(https://fonts.gstatic.com/s/productsans/v9/N0c8y_dasvG2CzM7uYqPLs1Lch-SD8r0CsJ60meulZ8.woff2) format('woff2');
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Product Sans Bold'), local('ProductSans-Bold'), url(https://fonts.gstatic.com/s/productsans/v9/N0c8y_dasvG2CzM7uYqPLnNuWYKPzoeKl5tYj8yhly0.woff2) format('woff2');
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Product Sans Black'), local('ProductSans-Black'), url(https://fonts.gstatic.com/s/productsans/v9/N0c8y_dasvG2CzM7uYqPLtDLwwZd-mS_8JqJ_KGXwxs.woff2) format('woff2');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Yekan Bakh' !important;
}

.direction-ltr {
    direction: ltr;
}

.direction-rtl {
    direction: rtl;
}

.font-en {
    font-family: 'Product Sans';
}

.font-fa {
    font-family: 'Yekan Bakh' !important;
}